div{
    display: flex;
    flex-wrap: wrap;
}
div a{
    background-color: #e7e3e3;
    padding: 1rem .4rem;
    margin: .2rem .15rem;
    border-radius: 10rem;
    color: blue;
    font-weight: 550;
}
